<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball Team! </h1>
  Team Name: <%= @tname %>
  Coach: <%= @coach %>
  Point Guard: <%=@pguard %>
  Shooting Guard: <%=@sguard %>
  Small Forward: <%=@sforward %>
  Power Forward: <%=@pforward %>
  Center: <%=@center %>


 </body>
</html>


